.nav-name h1 {
  color: rgb(74, 58, 42);
  font-family: Georgia, serif;
  font-size: 25px;
}

body {
  background: #f8f1e6;
  color: rgb(74, 58, 42);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    "Poppins", "Segoe UI", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 8%;
  background: #f8f1e6;
  position: relative;
}

.nav-name {
  color: black;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.5px;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
    color: rgb(74, 58, 42); 
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: rgb(117, 72, 28);
}

.search-box {
  background: #f8f1e6;
  border: 2px solid #b88d61;
  border-radius: 30px;
  color: #6b4f3a;
  padding: 10px 15px;
}

.search-box input {
  background: transparent;
  border: none;
  outline: none;
  color: #6b4f3a;
  font-size: 17px;
}

.search-btn {
  border: none;
  background: #b88d61;
  color: white;
  padding: 8px 12px;
  border-radius: 50%;
  margin-left: 5px;
  cursor: pointer;
}


body{
    background:#f8f1e6;
    margin:0;
    font-family:Poppins,sans-serif;
}

.contact{
    padding:80px 10%;
}

.contact-header{
    text-align:center;
    margin-bottom:60px;
}

.contact-header h1{
    color:#6b4f3a;
    font-size:55px;
    margin-bottom:10px;
    font-family: Georgia, serif;
}

.contact-header p{
    color:#8d755f;
}

.contact-container{
    display:flex;
    gap:40px;
    flex-wrap:wrap;
}

.contact-info{
    flex:1;
    min-width:280px;
    display:flex;
    flex-direction:column;
    gap:20px;
}

.info-card{
    background:white;
    padding:25px;
    border-radius:20px;
    box-shadow:0 10px 20px rgba(0,0,0,.08);
}

.info-card i{
    color:#867e3f;
    font-size:28px;
}

.info-card h3{
    color:#867e3f;
    margin:10px 0;
}

.contact-form{
    flex:2;
    min-width:300px;
    background:white;
    padding:30px;
    border-radius:25px;
    box-shadow:0 10px 20px rgba(0,0,0,.08);

    display:flex;
    flex-direction:column;
    gap:20px;
}

.contact-form input,
.contact-form textarea{
    border:2px solid #e8d9c6;
    padding:15px;
    border-radius:15px;
    outline:none;
}

.contact-form input:focus,
.contact-form textarea:focus{
    border-color:#867e3f;
}

.contact-form button{
    background:#867e3f;
    color:white;
    border:none;
    padding:15px;
    border-radius:15px;
    cursor:pointer;
    font-weight:bold;
    transition:.3s;
}

.contact-form button:hover{
    background:#6b4f3a;
}

.popup{
    position:fixed;
    top:20px;
    right:20px;
    background:#867e3f;
    color:white;
    padding:15px 25px;
    border-radius:10px;

    opacity:0;
    pointer-events:none;
    transition:.4s;
}

.popup.show{
    opacity:1;
}


.footer-blob {
  position: relative;
  width: 100%;
  animation: slideUpBlob 1.2s cubic-bezier(0.25, 1, 0.5, 1) forwards;
  opacity: 0;
}

.footer-blob svg {
  width: 100%;
  display: block;
}

.blob-content {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  z-index: 10;
  padding-top: 40px;
}

.footer-text p {
  color: white;
  margin: 0 0 15px 0;
  font-family: sans-serif; 
  font-size: 16px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-icons a {
  color: white;
  font-size: 24px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.social-icons a:hover {
  color: #f1ebd9; 
  transform: translateY(-3px); 
}

@keyframes slideUpBlob {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0); 
    opacity: 1; 
  }
}